body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: cursive;
}

section {
  background-color:#C24641;
  width: 100%;
  height: auto;
  font-family: sans-serif;
  color: black;
  position: relative;
  overflow: auto;
}
p {
  margin-right: 20px;
  margin-left: 20px;
}
.container {
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}
#t1 {
  margin-bottom: 10px;
  font-weight: bold;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}
h1 { /* Restaurant name */
  color: #557c3e;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: .75;
}
h2 {
  margin-bottom: 25px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
  font-size: 1.2em;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -35px;
}


